################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Windows Services/FileContentIndex
/.vs/Windows Services/v17/.suo
/.vs/Windows Services/v17/DocumentLayout.json
